@charset "utf-8";

@media (max-width:800px){
    main{
        position: static;
        height:auto;
        margin:70px auto;
    }
    main .thebox .boxbtn{
        display: block;
    }
    main .thebox a:link{
        display: block;
        margin: 20px 0;
    }
    main .thebox{
        height:auto;
        padding: 20px 0;
        margin-top: 0;
        margin: 20px auto;
    }
    main .text h1{
        font-size:52px;
        max-width: 277px;
    }
    main .text p{
        margin-left: 55px;
        padding: 5px 0;
        font-size: 16px;
    }
   
}


