@charset "utf-8";

*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box; 
    text-decoration: none;
    list-style:none;
    -webkit-tap-highlight-color:transparent;
}

section{
  width:50%;
  margin:30px auto;
}
#box{
  border: solid 1px rgb(51, 76, 189);
  width:200px;
  margin: 20px auto;
  height:300px;
}
button, input{
  display: block;
  margin:10px auto;
}
input{
  width:150px;
  border:2px solid rgb(51, 76, 189);
  outline: none;
  padding:0 3px;
}
#reset{
  display:none;
}
#show{
  display: none;
}
button{
  border:none;
  border-radius:5px;
  background-color:rgb(51, 76, 189);
  color: #fff;
  padding:5px 10px;
  cursor: pointer;
  outline: none;
}